@page
@model ContosoUniversity.Pages.Memberships.CreateModel
@{
    ViewData["Title"] = "Create Membership";
}

<h1>Create Membership</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="student1Id">Student 1:</label>
        <select class="form-control" asp-for="Membership.Student1ID">
            @foreach (var student in Model.Students)
            {
                <option value="@student.ID">@student.FullName</option>
            }
        </select>
        <span asp-validation-for="Membership.Student1ID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="student2Id">Student 2:</label>
        <select class="form-control" asp-for="Membership.Student2ID">
            @foreach (var student in Model.Students)
            {
                <option value="@student.ID">@student.FullName</option>
            }
        </select>
        <span asp-validation-for="Membership.Student2ID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="startDate">Subscription Start Date:</label>
        <input type="date" class="form-control" asp-for="Membership.SubscriptionStartDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" disabled>
        <span asp-validation-for="Membership.SubscriptionStartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="endDate">Subscription End Date:</label>
        <input type="date" class="form-control" asp-for="Membership.SubscriptionEndDate" min="@DateTime.Today.ToString("yyyy-MM-dd")">
        <span asp-validation-for="Membership.SubscriptionEndDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create Membership</button>
    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
